* {
    font-family: 'Lato', sans-serif;
}

html {
    background: rgba(187,187,187,1);
}

body {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,bbbbbb+96 */
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(187,187,187,1) 96%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(187,187,187,1) 96%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(187,187,187,1) 96%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#bbbbbb',GradientType=0 ); /* IE6-9 */
}

header {
    padding-top: 16px;
}

header a {
    color: #333;
}

header .logo-title a:hover {
    text-decoration: none;
    color: #333;
}

header .header-title {
    position: relative;
    display: inline-block;
    font-weight: 900;
    font-size: 7.7rem;
    line-height: 1;
    margin-top: 17px;
}

header .social-icons-lg {
    position: absolute;
    top: 12px;
    right: -30px;
    font-size: 1.9rem;
}

header .social-icons-lg img {
    display: block;
}

header .social-icons img {
    width: 28px;
    height: 28px;
}

header .header-desc {
    display: block;
    font-weight: 400;
    font-size: 1.6rem;
}

header .links {
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    margin-top: 28px;
    -webkit-box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    4px 4px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         4px 4px 5px 0px rgba(50, 50, 50, 0.75);
}

header .links a {
    font-weight: 300;
    font-size: 1.3rem;
    padding: 6px;
    color: #000;
}

header .links a:first-child {
    padding-right: 2px;
}

header .links a img {
    width: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
}

header .links div {
    display: block;
}

.navbar {
    text-transform: uppercase;
    font-weight: 300;
}

.navbar-cities {
    font-size: 1.9rem;
    margin-bottom: 0;
}

.main-navbar {
    font-size: 1.7rem;
    margin-bottom: 0;
    padding-bottom: 0;
}



/* Customize the nav-justified links to be fill the entire space of the .navbar */

.chelm-border-color {
    border-color: #ed5f67 !important;
}
.elblag-border-color {
    border-color: #f99157 !important;
}
.krakow-border-color {
    border-color: #fac863 !important;
}
.lomza-border-color {
    border-color: #99c794 !important;
}
.opole-border-color {
    border-color: #5eb4b3 !important;
}
.szczecin-border-color {
    border-color: #c4c4c4 !important;
}
.warsaw-border-color {
    border-color: #7368ab !important;
}
.zabrze-border-color {
    border-color: #ab7968 !important;
}

.navbar {
    min-height: 40px;
}

.nav-justified .dropdown-menu {
    z-index: 999;
    border-width: 0;
    border-left-width: 7px;
    margin-top: 0;
    border-radius: 0;
    /*-webkit-box-shadow: 4px 4px 10px 3px rgba(0, 0, 0, 0.11);*/
    /*-moz-box-shadow:    4px 4px 10px 3px rgba(0, 0, 0, 0.11);*/
    /*box-shadow:         4px 4px 10px 3px rgba(0, 0, 0, 0.11);*/
}
.nav-justified .dropdown-menu li a {
    padding-top: 10px;
    padding-bottom: 10px;
}
.nav-justified .dropdown-menu li a:hover {
    /*font-weight: 900;*/
    /*text-shadow:0 0 1px black, 0 0 1px black, 0 0 1px black;*/
    /*background: none;*/
    background-color: #e5e5e5 !important;
}
.nav-justified > li > a {
    padding-top: 5px;
    padding-bottom: 8px;
    margin-bottom: 0;4
    color: #000;
    text-align: center;
    border-bottom: 5px solid #d5d5d5;
    background: transparent !important;
    /*transform: rotate(-30deg);*/
}

.nav-justified > li > a:hover,
.nav-justified > .active > a {
    background: none;
    padding-bottom: 3px;
    border-bottom-width: 10px;
}
.nav-justified > li:first-child > a {
}
.nav-justified > li:last-child > a {
}


@media (min-width: 768px) {
    .nav-justified {
        max-height: 52px;
    }
}

.main-navbar .nav-justified > li > a {
    color: #fffefe;
    border: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 5px;
}

.main-navbar .nav-justified > li > a:hover,
.main-navbar .nav-justified > li.active > a {
    /*font-weight: 900;*/
    text-shadow:0 0 1px #ffffff, 0 0 1px #ffffff, 0 0 1px #ffffff;
}

.navbar-cities .nav-justified > li > a {
    color: #3a3a3a;
}

/* xs */
@media (max-width: 767px) {
    header .header-title {
        font-size: 6.0rem;
        margin-top: 0;
    }
    .logo-title {
        padding-left: 0;
    }
    header .links {
        margin-top: 6px;
    }
    .main-navbar {
        margin-top: 6px;
    }
}

/* sm */
@media (min-width: 768px) and (max-width: 991px) {
    header .header-title {
        margin-top: 0;
    }
    header .links {
        margin-top: 6px;
    }
    header .links a {
        font-size: 1.2rem;
    }
    .navbar-cities {
        font-size: 1.4rem;
        min-height: 40px;
    }
    .main-navbar {
        font-size: 1.2rem;
        min-height: 40px;
    }
    .nav-justified > li > a {
        width: 90px;
    }
}

/* md */
@media (min-width: 992px) and (max-width: 1199px) {
    header .header-title {
        margin-top: 6px;
    }
    header .links {
        margin-top: 12px;
    }
    header .links a {
        font-size: 1.2rem;
    }
    .main-navbar {
        font-size: 1.3rem;
    }
    .nav-justified > li > a {
        width: 117.5px;
    }
}
/* lg */
@media (min-width: 1200px) {
    .navbar-cities .nav-justified > li > a {
        width: 142.5px;
    }
}



/* SLIDER */

#slider {
    margin-top: -10px;
}

.carousel-control {
    width: 4%;
    color: #000000;
    background: rgba(254, 254, 254, 0.5) !important;
    -webkit-box-shadow: 0px 0px 9px 1px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 0px 9px 1px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 0px 9px 1px rgba(50, 50, 50, 0.75);
}

.carousel-control img {
    top: 105px;
    position: absolute;
    box-sizing: border-box;
    width: 80%;
    opacity: 0.5;
}

.carousel-control .prev {
    left: 5%;
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}

.carousel-control .next {
    right: 5%;
}

.carousel-indicators {
    display: block;
    position: static;
    width: 92%;
    margin: 0 auto;
    background: #868686;
    padding: 0;
    border: 0;
    text-indent: 0;
    line-height: 0;
    list-style-type: none;
    height: 3px;
    box-sizing: content-box;
}

.carousel-indicators li {
    float: left;
    top:0;
    list-style: none;
    display: block;
    position: static;
    height: 3px;
    width: 33%;
    background: #868686;
    margin: 0;
    padding: 0;
    border: 0;
    text-indent: 0;
    line-height: 0;
}

.carousel-indicators li.active {
    position: static;
    display: block;
    height: 3px;
    width: 33%;
    background: #d2d2d2;
    margin: 0;
    padding: 0;
    border: 0;
    text-indent: 0;
    line-height: 0;
}

/* MAP SITE AND NEWS */

@media (min-width: 768px) {
    .panel-left {
        padding-right: 0;
    }
    .panel-right {
        padding-left: 8px;
    }
}

.panel-left > div {
    background: #e8e8e8;
}

.panel-right > div {
    background: #e6e6e6;
}

.panel-bg .panel-title {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1.9rem;
    color: #ffffff;
    background-color: #6699cc;
    /*background-image: -moz-linear-gradient( 90deg, rgb(155,200,150) 0%, rgb(190,219,187) 100%);*/
    /*background-image: -webkit-linear-gradient( 90deg, rgb(155,200,150) 0%, rgb(190,219,187) 100%);*/
    /*background-image: -ms-linear-gradient( 90deg, rgb(155,200,150) 0%, rgb(190,219,187) 100%);*/
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0.6+0,0+100 */
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0.4+0,0+100 */
    background: -moz-linear-gradient(top, rgba(255,255,255,0.4) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255,255,255,0.4) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255,255,255,0.4) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
    box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.11);
    padding: 5px;
    margin-top: 6px;
    margin-bottom: 0;
}

.sites a {
    font-weight: 300;
    font-size: 1.8rem;
    text-align: center;
    color: #3a3a3a;
    text-transform: uppercase;
    padding: 0 10px;
}

.sites a:first-child {
    padding-right: 0;
}

.sites a img {
    /*margin: 0 30px;*/
    /*display: block;*/
    margin-bottom: 6px;
    transition: all .2s ease-in-out;
}

.sites a:hover {
    text-decoration: none;
}

.sites a:hover img {
    /*animation-name: pulse_animation;*/
    /*animation-duration: 1s;*/
    /*!*transform-origin:70% 70%;*!*/
    /*animation-iteration-count: infinite;*/
    /*!*animation-timing-function: linear;*!*/
    transform: scale(1.1);
}

@keyframes pulse_animation {
    0% { transform: scale(1); }
    100% { transform: scale(1.1); }
}

/* sm */
@media (min-width: 768px) and (max-width: 991px) {
    .sites a {
        font-size: 1.6rem;
    }
}

@media (max-width: 767px) {
    .sites {
        display: table;
    }
    .sites a {
        display: table-row;
        text-align: left !important;
    }
    .site-icon {
        display: table-cell;
        width: 120px;
        text-align: center;
    }
    .sites a img {
        display: inline-block !important;
    }
    .sites a span {
        display: table-cell !important;
        vertical-align: middle;
    }
}

@media (min-width: 768px) {
    .sites a span.upper {
        display: block;
        margin-top: -7px;
    }
}

.news {
    background-color: rgb(232, 232, 232);
    box-shadow: 0px 0px 17.1px 0.9px rgba(0, 0, 0, 0.11);
    padding: 10px;
    margin-top: 6px;
    text-align: left;
}

.news-panel h2 {
    margin-bottom: 15px;
}

.news h4 {
    margin: 0;
    font-weight: 300;
    font-size: 1.9rem;
    /*color: #99c794;*/
}

.news p {
    font-weight: 300;
    font-size: 1.7rem;
    line-height: 1.15;
    margin-bottom: 3px;
}

.news-panel .more {
    /*background: #99c794;*/
    padding: 3px 5px;
    color: #ffffff;
}

.news-panel .more-news-btn {
    /*display: inline-block;*/
    /*margin: 15px 0 10px;*/
    margin-top: 6px;
    color: #333;
    padding: 3px;
}

/* FOOTER */

footer {
    margin-top: 6px;
    border-top: 6px solid;
    background-color: rgba(190, 190, 190, 0.012);
    /*box-shadow: inset 0px 0px 45px 15px rgba(0, 0, 0, 0.22);*/
}

footer .row {
    margin-top: 40px;
}

.footer-shadow {
    position: absolute;
    /*background: transparent;*/
    /*box-shadow: inset 0px 0px 45px 15px rgba(0, 0, 0, 0.22);*/
    width: 100%;
    background: url("../../../bundles/uczelniapage/img/footer-shadow.png") repeat-x;
    height: 97px;
    z-index: 9;
    opacity: 0.15;
    pointer-events: none;
}

footer h4 {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.7rem;
}

.footer-menu {
    list-style: none;
    padding-left: 0;
    margin-top: 65px;
}

.footer-menu li {
    list-style-type: none;
    margin-bottom: 20px;
}

.footer-menu a {
    font-weight: 300;
    text-transform: uppercase;
    font-size: 1.5rem;
    color: #000000;
}

.contact-info {
    font-weight: 300;
    font-size: 1.4rem;
}

@media (max-width: 1199px) {
    .footer-menu {
        margin-top: 20px;
    }
    .contact-info {
        line-height: 1.2;
    }
}

/* SITE NEWS */

#site-news .container {
    background-clip: content-box;
    background-color: #e8e8e8;
}

/*#site-news .row {*/
    /*margin-bottom: 10px;*/
/*}*/

#site-news .news h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 2.0rem;
    color: #3a3a3a;
    margin-top: 3px;
    margin-bottom: 6px;
}

#site-news h3 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 1.7rem;
    color: #3a3a3a;
    text-transform: uppercase;
}

#site-news img {
    margin-bottom: 10px;
}

.pagination {
    margin-bottom: 5px;
}

.pagination li.active {
    background: #7368ab;
}

.pagination li a:hover {
    background: transparent;
}