{% extends "UczelniaPageBundle::base.html.twig" %}

{% block pageTitle %}Strona nie została znaleziona{% endblock %}

{% set hideMenu = true %}

{% block content %}

    <section class="loginForm">
        <div class="container text-center jumbotron">
            {% include 'UczelniaPageBundle:Template:flashMsg.html.twig' %}

            <h1 class="strong">Błąd 404</h1>
            <h2 class="strong">Strona nie zostałą znaleziona!</h2>

            <p>Spróbuj odświeżyć strone lub skontaktuj się z administracją.</p>
        </div>
    </section>

    </div>
{% endblock %}