{% extends "UczelniaPageBundle::base.html.twig" %}

{% block pageTitle %}Nieoczekiwany błąd{% endblock %}

{% set hideMenu = true %}

{% block content %}

    <section class="loginForm">
        <div class="container text-center jumbotron">
            {% include 'UczelniaPageBundle:Template:flashMsg.html.twig' %}

            <h1 class="strong">Nieoczekiwany błąd!</h1>

            <p>Wystąpił nieoczekiwany błąd. Przepraszamy za utrudnienia.</p>
        </div>
    </section>

    </div>
{% endblock %}