{% extends "UczelniaPageBundle::base.html.twig" %}

{% block pageTitle %}Brak uprawnień{% endblock %}

{% set hideMenu = true %}

{% block content %}

    <section class="loginForm">
        <div class="container text-center jumbotron">
            {% include 'UczelniaPageBundle:Template:flashMsg.html.twig' %}

            <h1 class="strong">403</h1>
            <h2 class="strong">Brak uprawnień!</h2>

            <p>Jeśli uważasz, że powinieneś posiadać wymagane uprawnienia skontaktuj się z administratorem.</p>
        </div>
    </section>

    </div>
{% endblock %}