<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% spaceless %}{% block pageTitle %}{% endblock %}{% endspaceless %} - kokpit Uczelnia</title>
    <meta name="description" content="{% spaceless %}{% block pageDescription %}{% endblock %}{% endspaceless %}">

    {% block stylesheets %}
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,900&subset=latin-ext" rel="stylesheet">

        {% stylesheets
        'bundles/uczelniapage/css/bootstrap.min.css'
        filter='cssrewrite,?yui_css'
        output = 'assets/css/admin-compiled.css'
        combine=true %}
        <link rel="stylesheet" href="{{ asset_url }}">
        {% endstylesheets %}

        <style>
            {{ print_cities_colors_css() }}
        </style>
    {% endblock %}

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<header>
    <div class="container">
        <div class="page-header">
            <h1 style="display: block;">
                Kokpit
                <small>administratora</small>
                <a href="{{ path('page_index') }}">
                    <img class="pull-right" src="{{ asset('bundles/uczelniapage/img/logo.png') }}" height="40" alt="">
                </a>
            </h1>
        </div>
    </div>
</header>

<section>
    <div class="container">
        <div class="col-sm-3">
            <div class="panel panel-default">
                <div class="panel-heading">Menu</div>
                <ul class="list-group nav nav-pills nav-stacked">
                    {% if app.request.get('_route') == 'admin_cities_archive' %}
                    <li class="active" style="border-bottom: 1px solid #ddd;">
                {% else %}
                    <li style="border-bottom: 1px solid #ddd;">
                        {% endif %}
                        <a href="{{ path('admin_cities_archive') }}">Miasta</a>
                    </li>
                    {% if app.request.get('_route') == 'admin_slides_archive' %}
                    <li class="active" style="border-bottom: 1px solid #ddd;">
                {% else %}
                    <li style="border-bottom: 1px solid #ddd;">
                        {% endif %}
                        <a href="{{ path('admin_slides_archive') }}">Slajder</a>
                    </li>
                    {% if app.request.get('_route') == 'admin_news_archive' %}
                    <li class="active" style="border-bottom: 1px solid #ddd;">
                {% else %}
                    <li style="border-bottom: 1px solid #ddd;">
                        {% endif %}
                        <a href="{{ path('admin_news_archive') }}">Aktualności</a>
                    </li>
                    {% if app.request.get('_route') == 'pages_archive' %}
                    <li class="active" style="border-bottom: 1px solid #ddd;">
                {% else %}
                    <li style="border-bottom: 1px solid #ddd;">
                        {% endif %}
                        <a href="{{ path('pages_archive') }}">Strony</a>
                    </li>
                    {% if app.request.get('_route') == 'admin_users_archive' %}
                    <li class="active" style="border-bottom: 1px solid #ddd;">
                {% else %}
                    <li style="border-bottom: 1px solid #ddd;">
                        {% endif %}
                        <a href="{{ path('admin_users_archive') }}">Użytkownicy</a>
                    </li>
                    {% if app.request.get('_route') == 'admin_history_archive' %}
                    <li class="active" style="border-bottom: 1px solid #ddd;">
                        {% else %}
                    <li style="border-bottom: 1px solid #ddd;">
                        {% endif %}
                        <a href="{{ path('admin_history_archive') }}">Historia</a>
                    </li>
                    <li>
                        <a href="{{ path('_logout') }}">Wyloguj</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-9">
            {% block content %}{% endblock %}
        </div>
    </div>
</section>

{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    {% javascripts
    '@UczelniaPageBundle/Resources/public/js/bootstrap.min.js'
    filter = '?yui_js'
    output = 'assets/js/admin-compiled.js'
    combine=true %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

</body>
</html>