{% extends "UczelniaPageBundle:Pages:page.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .editor-menu {
            position: absolute;
            right: 100px;
            top: 0;
            z-index: 100;
            background: white;
        }
    </style>
{% endblock %}

{% block EditorMenuLinks %}
    {% if is_granted('ROLE_ADMIN') %}
        <li role="presentation"><a href="{{ path('admin_pageForm', {'id': pageId, 'city': app.request.get('city')}) }}">Edytuj</a>
        </li>
    {% endif %}
{% endblock %}

{% block content %}
    <section class="site">
        {% for success in app.session.flashBag.get('success') %}
            <div class="alert alert-success alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <strong>Sukces!</strong> {{ success }}
            </div>
        {% endfor %}
        {% for error in app.session.flashBag.get('error') %}
            <div class="alert alert-danger alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <strong>Błąd!</strong> {{ error }}
            </div>
        {% endfor %}

        <div class="container">
            <div class="row">
                <div class="col-sm-9 content-wrapper">
                    <div class="content panel-bg">
                        {{ form_start(form) }}
                        {{ form_widget(form.content) }}

                        {{ form_end(form) }}
                    </div>
                </div>
                <div class="col-sm-3 sidebar-wrapper">
                    <div class="right-sidebar current-city-bg-color">
                        {{ print_right_menu(app.request.get('slug'), app.request.get('city')) }}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        function saveEditorForm() {
            $(window).unbind("beforeunload");
            $('form').submit();
            return false;
        }
        $(document).ready(function () {

            var chenges = false;
            for (var i in CKEDITOR.instances) {

                CKEDITOR.instances[i].on('change', function () {
                    $(window).bind("beforeunload", function () {
                        return false;
                    });
                });
            }
        });
    </script>
{% endblock %}