{% extends "UczelniaAdminBundle::base.html.twig" %}

{% set newsTitle = news.id is null ? 'Dodawanie nowego news' : 'Edycja news "%s"'|format(news.title) %}

{% block pageTitle %}
    {{ newsTitle }}
{% endblock %}


{% block content %}
    {% for success in app.session.flashBag.get('success') %}
        <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong>Sukces!</strong> {{ success }}
        </div>
    {% endfor %}
    {% for error in app.session.flashBag.get('error') %}
        <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong>Błąd!</strong> {{ error }}
        </div>
    {% endfor %}

    {% form_theme form 'UczelniaAdminBundle:Form:form_template.html.twig' %}
    {{ form_start(form) }}
    <div class="panel panel-default">
        <div class="panel-heading">{{ newsTitle }}</div>
        <div class="panel-body">
            {{ form_row(form.title) }}
            <div class="form-group">
                <label class="col-sm-2 control-label">Alias</label>
                <div class="col-sm-10">
                    <label class="checkbox-inline" for="news_updateSlug">
                        {{ form_widget(form.updateSlug) }} aktualizuj adres URL
                    </label>
                </div>
            </div>
            <div class="form-group">
                {{ form_label(form.thumbnail) }}
                <div class="col-sm-10">
                    {{ form_widget(form.thumbnail, { 'attr': {'class': 'form-control'} }) }}
                    <img id="thumbnail-img" style="cursor: pointer" class="img-responsive" src="" alt="">
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Gdzie</div>
        <div class="panel-body">
            {{ form_errors(form.cities) }}
            {{ form_widget(form.cities, {'label_attr': {'class': 'checkbox-inline'}}) }}
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Treść</div>
        <div class="panel-body">
            {{ form_errors(form.content) }}
            {{ form_widget(form.content) }}
        </div>
    </div>

    {{ form_row(form.save) }}
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(document).ready(function () {
            $("#thumbnail-img").attr("src", $("#news_thumbnail").val());
            $('#thumbnail-img').click(function () {
                $("#news_thumbnail").click();
            });
            $("#news_thumbnail").on('change', function () {
                $("#thumbnail-img").attr("src", $("#news_thumbnail").val());
            })
        });
    </script>
{% endblock %}