{% extends "UczelniaAdminBundle::base.html.twig" %}

{% block pageTitle %}Miasta{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        #accordion .panel-heading a {
            display: block;
            color: #FFFFFF;
        }
    </style>
{% endblock %}

{% block content %}
    {% for success in app.session.flashBag.get('success') %}
        <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong>Sukces!</strong> {{ success }}
        </div>
    {% endfor %}
    {% for error in app.session.flashBag.get('error') %}
        <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong>Błąd!</strong> {{ error }}
        </div>
    {% endfor %}

    <div class="panel panel-default" style="margin-bottom: 0">
        <div class="panel-heading">Lista miast</div>
        <div class="panel-body">
            Wybierz miasto dla którego chcesz zmienić kolor lub link do portalu społecznościowego.
        </div>

        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            {% for citySlug, formD in forms %}
                {% set form = formD.formView %}
                {% form_theme form 'UczelniaAdminBundle:Form:form_template.html.twig' %}
                {{ form_start(form) }}

                <div class="panel panel-default">
                    <div class="panel-heading {{ citySlug }}-bg-color" role="tab" id="heading{{ citySlug }}">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion"
                               href="#collapse{{ citySlug }}"
                               aria-expanded="{{ loop.first ? 'true' : 'false' }}"
                               aria-controls="collapse{{ citySlug }}">
                                {{ formD.city.name }}
                            </a>
                        </h4>
                    </div>
                    <div id="collapse{{ citySlug }}" class="panel-collapse collapse {{ loop.first ? 'in' : '' }}"
                         role="tabpanel"
                         aria-labelledby="heading{{ citySlug }}">
                        <div class="panel-body">
                            {{ form_row(form.color) }}
                            {{ form_row(form.fb) }}
                            {{ form_errors(form.twitter) }}
                            {{ form_row(form.twitter) }}
                            {{ form_row(form.googlePlus) }}
                            {{ form_row(form.save) }}
                        </div>
                    </div>
                </div>

                {{ form_end(form) }}
            {% endfor %}

        </div>


    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(document).ready(function () {

        });

    </script>
{% endblock %}