{% extends "UczelniaAdminBundle::base.html.twig" %}

{% block pageTitle %}Witaj{% endblock %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">Witaj</div>
        <div class="panel-body">
            Po lewej stronie znajduje się menu.
        </div>
    </div>
{% endblock %}
