<ul class="nav nav-justified">
    {% for city in citiesList %}
        {% if city.slug != 'glowna' %}
            {% if app.request.get('city') == city.slug %}
                <li class="active">
            {% else %}
                <li>
            {% endif %}
            <a class="{{ city.slug }}-border-color" href="{{ path('news_archive', {'city': city.slug}) }}">
                {{ city.name }}
            </a>
            </li>
        {% endif %}
    {% endfor %}
</ul>