{% for city in citiesList %}
    .{{ city.slug }}-border-color {
    border-color: #{{ city.color }} !important;
    }
    .{{ city.slug }}-bg-color {
    background-color: #{{ city.color }} !important;
    }
    {% if app.request.get('city', 'glowna') == city.slug %}
        .current-city-border-color {
        border-color: #{{ city.color }};
        }
        .current-city-bg-color {
        background-color: #{{ city.color }};
        }
        .current-city-font-color {
        color: #{{ city.color }} !important;
        }
    {% endif %}
{% endfor %}