{% for success in app.session.flashBag.get('success', []) %}
    <div class="alert alert-success" role="alert">
    {{ success|trans }}
</div>
{% endfor %}

{% for failure in app.session.flashBag.get('error', []) %}
    <div class="alert alert-danger" role="alert">
    {{ failure|trans }}
</div>
{% endfor %}