<ul class="nav nav-pills nav-stacked right-menu">
    {% set currentYear = app.request.get('year') is not empty ? app.request.get('year') : 'now'|date('Y') %}
    {% set currentMonth = app.request.get('month') is defined ? app.request.get('month') : '' %}

    {% for year, months in datesList %}
        {#{% if app.request.get('slug') == page.slug or app.request.get('categories') starts with page.slug %}#}
        {#{% set activeClass = ' active current-city-font-color' %}#}
        {#{% else %}#}
        {% set activeClass = '' %}
        {#{% endif %}#}

        <li>
            {#{% if categories is empty %}#}
            {#<a class="{{ activeClass }}" href="{{ path('first_lvl_city_single', {'city': app.request.get('city'), 'slug': page.slug}) }}">#}
            {#{{ page.title }}#}
            {#</a>#}
            {#{% else %}#}
            {#<a class="{{ activeClass }}" href="{{ path('subpage_city_single', {'city': app.request.get('city'), 'categories': '/' ~ categories, 'slug': page.slug}) }}">#}
            {#{{ page.title }}#}
            {#</a>#}
            {#{% endif %}#}
            <a class="{{ activeClass }}" role="button" data-toggle="collapse" href="#{{ year }}-months"
               aria-expanded="false" aria-controls="{{ year }}-months">
                {{ year }}
            </a>
            <ul id="{{ year }}-months" class="collapse {{ year == currentYear ? 'in' : '' }}">
                {% for month in months %}
                    <li>
                        {% if app.request.get('city') == 'glowna' %}
                            <a class="{{ month|uczelnia_sluggify == currentMonth ? 'active current-city-font-color' : '' }}"
                               href="{{ path('global_news_month_archive', {'year': year, 'month': month|uczelnia_sluggify}) }}">
                                {{ month }}
                            </a>
                        {% else %}
                            <a class="{{ month|uczelnia_sluggify == currentMonth ? 'active current-city-font-color' : '' }}"
                               href="{{ path('news_month_archive', {'city': app.request.get('city'), 'year': year, 'month': month|uczelnia_sluggify}) }}">
                                {{ month }}
                            </a>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
</ul>