<ul class="nav nav-pills nav-stacked right-menu">
    {% set hierarchy = '' %}
    {% for page in parentPagesList %}
    <ul>
        <li>
            {% if page.parentPage is null %}
                {#<a href="{{ path('first_lvl_city_single', {'city': app.request.get('city'), 'slug': page.slug}) }}">#}
                    {{ page.title }}
                {#</a>#}
                {% set hierarchy = page.slug %}
                {% else %}
                    {% if app.request.get('slug') == page.slug %}
                        {% set activeClass = ' active' %}
                        {% set activePtr = '<span class="glyphicon glyphicon-arrow-right"></span>' %}
                    {% else %}
                        {% set activeClass = '' %}
                        {% set activePtr = '' %}
                    {% endif %}
                    <a class="{{ activeClass }}" href="{{ path('subpage_city_single', {'city': app.request.get('city'), 'categories': hierarchy, 'slug': page.slug}) }}">
                        {#{{ activePtr|raw }}#}
                        {{ page.title }}
                    </a>
                    {% set hierarchy = hierarchy ~ '/' ~ page.slug %}
            {% endif %}
            {% endfor %}
            <ul>
                {% for page in pagesList %}
                    {% if app.request.get('slug') == page.slug %}
                        {% set activeClass = ' active' %}
                        {% set activePtr = '<span class="glyphicon glyphicon-arrow-right"></span>' %}
                    {% else %}
                        {% set activeClass = '' %}
                        {% set activePtr = '' %}
                    {% endif %}

                    <li class="{{ activeClass }}">
                        {% if hierarchy is empty %}
                            <a class="{{ activeClass }}"
                               href="{{ path('first_lvl_city_single', {'city': app.request.get('city'), 'slug': page.slug}) }}">
                                {#{{ activePtr|raw }}#}
                                {{ page.title }}
                            </a>
                        {% else %}
                            <a class="{{ activeClass }}"
                               href="{{ path('subpage_city_single', {'city': app.request.get('city'), 'categories': hierarchy, 'slug': page.slug}) }}">
                                {#{{ activePtr|raw }}#}
                                {{ page.title }}
                            </a>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>

            {% if subParentNeighbourPages is not empty %}
                </li>
        </ul>
                <li>
                <ul>
                    {% for page in subParentNeighbourPages %}
                        <li>
                            <a href="{{ path('subpage_city_single', {'city': app.request.get('city'), 'categories': subParentNeighbourHierarchy, 'slug': page.slug}) }}">
                                {#{{ activePtr|raw }}#}
                                {{ page.title }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}

            {% for page in parentPagesList %}
        </li>
    </ul>
    {% endfor %}
</ul>