<ul class="nav nav-justified current-city-bg-color">
    {% if app.request.get('city') is defined and app.request.get('city') != 'glowna' %}

        {% for page in pagesList %}
            {% if app.request.get('slug') == page.slug or ('aktualnosci' == page.slug and (app.request.get('_route') == 'news_month_archive' or app.request.get('_route') == 'news_archive' or app.request.get('_route') == 'news_single')) or app.request.get('categories') starts with page.slug %}
                {% set activeClass = ' active' %}
            {% else %}
                {% set activeClass = '' %}
            {% endif %}

            {% if subPagesList[page.slug] is not empty %}
                <li class="dropdown {{ activeClass }}">
                    {#{{ path('first_lvl_city_single', {'city': app.request.get('city'), 'slug': page.slug}) }}#}
                    <a href="#"
                       class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        {{ page.title }} <span class="visible-lg-inline-block caret"></span>
                    </a>
                    <ul class="current-city-border-color dropdown-menu">
                        {% for subpage in subPagesList[page.slug] %}
                            <li><a href="{{ path('subpage_city_single', {'city': app.request.get('city'), 'categories': page.slug, 'slug': subpage.slug}) }}">{{ subpage.title }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
            {%  else %}
                <li class="{{ activeClass }}">
                    <a href="{{ path('first_lvl_city_single', {'city': app.request.get('city'), 'slug': page.slug}) }}">
                        {{ page.title }}
                    </a>
                </li>
            {% endif %}
        {% endfor %}

    {% else %}
        <li><a>&nbsp;</a></li>
    {% endif %}
</ul>