<div id="gp-content" class="social-links-popover hide">
    {% set i = 0 %}
    {% for city in citiesList if city.googlePlus is not null %}
        {% if city.slug == 'glowna' %}
            <ul class="nav nav-pills nav-stacked col-xs-12" style="padding-right: 0; margin-bottom: 2px">
                <li><a target="_blank" href="{{ city.googlePlus }}" class="label glowna-bg-color">Ogólny</a></li>
            </ul>
        {% else %}
            {% if i == 0 %}
                <ul class="nav nav-pills nav-stacked col-xs-6" style="margin-bottom: 6px">
            {% elseif i == 4 %}
                </ul>
                <ul class="nav nav-pills nav-stacked col-xs-6" style="padding-right: 0; margin-bottom: 6px">
            {% endif %}
            <li><a target="_blank" href="{{ city.googlePlus }}" class="label {{ city.slug }}-bg-color">{{ city.name }}</a></li>
            {% set i = i + 1 %}
        {% endif %}
    {% endfor %}
    {% if i > 4 %}
        </ul>
    {% endif %}
</div>
<div id="twitter-content" class="hide">
    {% set i = 0 %}
    {% for city in citiesList if city.twitter is not null %}
    {% if city.slug == 'glowna' %}
    <ul class="nav nav-pills nav-stacked col-xs-12" style="padding-right: 0; margin-bottom: 2px">
        <li><a target="_blank" href="{{ city.twitter }}" class="label glowna-bg-color">Ogólny</a></li>
    </ul>
{% else %}
    {% if i == 0 %}
    <ul class="nav nav-pills nav-stacked col-xs-6" style="margin-bottom: 6px">
{% elseif i == 4 %}
</ul>
    <ul class="nav nav-pills nav-stacked col-xs-6" style="padding-right: 0; margin-bottom: 6px">
        {% endif %}
        <li><a target="_blank" href="{{ city.twitter }}" class="label {{ city.slug }}-bg-color">{{ city.name }}</a></li>
        {% set i = i + 1 %}
        {% endif %}
        {% endfor %}
        {% if i > 4 %}
    </ul>
    {% endif %}
</div>
<div id="fb-content" class="hide">
    {% set i = 0 %}
    {% for city in citiesList if city.fb is not null %}
    {% if city.slug == 'glowna' %}
    <ul class="nav nav-pills nav-stacked col-xs-12" style="padding-right: 0; margin-bottom: 2px">
        <li><a target="_blank" href="{{ city.fb }}" class="label glowna-bg-color">Ogólny</a></li>
    </ul>
{% else %}
    {% if i == 0 %}
    <ul class="nav nav-pills nav-stacked col-xs-6" style="margin-bottom: 6px">
{% elseif i == 4 %}
</ul>
    <ul class="nav nav-pills nav-stacked col-xs-6" style="padding-right: 0; margin-bottom: 6px">
        {% endif %}
        <li><a target="_blank" href="{{ city.fb }}" class="label {{ city.slug }}-bg-color">{{ city.name }}</a></li>
        {% set i = i + 1 %}
        {% endif %}
        {% endfor %}
        {% if i > 4 %}
    </ul>
    {% endif %}
</div>