{% extends "UczelniaAdminBundle::base.html.twig" %}

{% block pageTitle %}Historia{% endblock %}

{% block content %}
    {% for success in app.session.flashBag.get('success') %}
        <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong>Sukces!</strong> {{ success }}
        </div>
    {% endfor %}
    {% for error in app.session.flashBag.get('error') %}
        <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong>Błąd!</strong> {{ error }}
        </div>
    {% endfor %}

    <div class="panel panel-default" style="margin-bottom: 0">
        <div class="panel-heading">Historia - logi</div>
        <div class="panel-body">
            <p>Poniżej znajduję się lista aktywności uzytkowników:</p>
        </div>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Data</th>
                    <th>Zdarzenie</th>
                    <th>Użytkownik</th>
                </tr>
                </thead>
                <tbody>

                {% for log in pagination %}
                    <tr class="log-row">
                        <td class="log-title">{{ log.eventDate|date('d-m-Y H:m') }}</td>
                        <td style="max-width: 350px">{{ log.message|raw('html') }}</td>
                        <td>{{ log.author.username }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3" align="center">Brak zdarzeń</td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>

    <nav class="text-center">
        {{ knp_pagination_render(pagination, 'UczelniaPageBundle:Pagination:pagination.html.twig') }}
    </nav>
{% endblock %}
