{% extends "UczelniaAdminBundle::base.html.twig" %}

{% set pageTitle = 'Usuń stronę "%s"'|format(page) %}

{% block pageTitle %}
    {{ pageTitle }}
{% endblock %}

{% block content %}
    {% form_theme form 'UczelniaAdminBundle:Form:form_template.html.twig' %}

    <div class="panel panel-default">
        <div class="panel-heading">{{ pageTitle }}</div>
        <div class="panel-body">
            {{ form_start(form) }}
            <div class="radio">
                {{ form_widget(form.deleteWhat, {'label_attr': {'class': 'radio'}}) }}
            </div>
            <div style="padding-left: 20px">
                {{ form_widget(form.cities, {'label_attr': {'class': 'checkbox-inline'}}) }}
            </div>
            {{ form_row(form.delete) }}

            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            if ($('input[name="form[deleteWhat]"]:checked', 'form').val() == 'partial') {
                $('.checkbox-inline > input').removeAttr("disabled", true);
                $('.checkbox-inline').css("color", "black");
            } else {
                $('.checkbox-inline > input').attr("disabled", true);
                $('.checkbox-inline').css("color", "blue");
            }
            $('input').on('change', function() {
                if ($('input[name="form[deleteWhat]"]:checked', 'form').val() == 'partial') {
                    $('.checkbox-inline > input').removeAttr("disabled", true);
                    $('.checkbox-inline').css("color", "black");
                } else {
                    $('.checkbox-inline > input').attr("disabled", true);
                    $('.checkbox-inline').css("color", "blue");
                }
            });
        });
    </script>
{% endblock %}