{% extends "UczelniaAdminBundle::base.html.twig" %}

{% set pageTitle = page.id is null ? 'Dodawanie nowej strony' : 'Edycja strony "%s"'|format(page.title) %}

{% block pageTitle %}
    {{ pageTitle }}
{% endblock %}


{% block content %}
    {% for success in app.session.flashBag.get('success') %}
        <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong>Sukces!</strong> {{ success }}
        </div>
    {% endfor %}
    {% for error in app.session.flashBag.get('error') %}
        <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong>Błąd!</strong> {{ error }}
        </div>
    {% endfor %}

    {% form_theme form 'UczelniaAdminBundle:Form:form_template.html.twig' %}
    {{ form_start(form) }}

    <div class="panel panel-default">
        <div class="panel-heading">{{ pageTitle }}</div>
        <div class="panel-body">
            {{ form_row(form.title) }}
            <div class="form-group">
                <label class="col-sm-2 control-label">Alias</label>
                <div class="col-sm-10">
                    <label class="checkbox-inline" for="page_updateSlug">
                        {{ form_widget(form.updateSlug) }} aktualizuj adres URL
                    </label>
                </div>
            </div>
            {{ form_row(form.menuOrder) }}
            {{ form_row(form.parentPage, {'label_length': 3, 'wrapper_length': 9, 'attr': {'class': 'select-block'}}) }}
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Gdzie</div>
        <div class="panel-body">
            {{ form_errors(form.cities) }}
            {{ form_widget(form.cities, {'label_attr': {'class': 'checkbox-inline'}}) }}
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Treść</div>
        <div class="panel-body">
            {{ form_errors(form.content) }}
            {{ form_widget(form.content) }}
        </div>
    </div>

    {{ form_row(form.save) }}
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            $('form').submit(function() {
                if ($("#cke_page_content iframe").contents().find("body").text() !== '') {
                    if ($("form input:checkbox:checked").length == 0) {
                        if (confirm('Nie wybrałeś żadnego miasta - wprowadzona treść przepadnie! \nCzy na pewno chcesz kontynuować?')) {
                            return true;
                        } else {
                            return false;
                        }
                    }
                }
            });
        });
    </script>
{% endblock %}