{% extends "UczelniaAdminBundle::base.html.twig" %}

{% block pageTitle %}Strony{% endblock %}

{% block content %}
    {% for success in app.session.flashBag.get('success') %}
        <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong>Sukces!</strong> {{ success }}
        </div>
    {% endfor %}
    {% for error in app.session.flashBag.get('error') %}
        <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong>Błąd!</strong> {{ error }}
        </div>
    {% endfor %}

    <div class="panel panel-default">
        <div class="panel-heading">Lista stron</div>
        <div class="panel-body">
            <a class="btn btn-primary" href="{{ path('admin_pageForm') }}">Dodaj nową stronę</a>
        </div>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Nazwa</th>
                    <th>Manu</th>
                    <th>Data</th>
                    <th>Akcje</th>
                </tr>
                </thead>
                <tbody>

                {% for page in pagesList %}
                    {% if page.menuOrder < 0 %}
                        <tr class="warning">
                    {% else %}
                        <tr>
                    {% endif %}
                    <td>{{ page.titleWithPrefix|raw('html') }}</td>
                    <td>{{ page.menuOrder }}</td>
                    <td>{{ page.createDate|date('d-m-Y h:m') }}</td>
                    <td>
                        <a href="{{ path('admin_pageForm', {'id': page.id}) }}"><span class="glyphicon glyphicon-edit"></span>Edytuj</a>
                        <a href="{{ path('admin_pageDelete', {'id': page.id}) }}"><span class="glyphicon glyphicon-remove"></span>Usun</a>
                    </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
