{% extends "UczelniaAdminBundle::base.html.twig" %}

{% set userTitle = user.id is null ? 'Dodawanie nowego użytkownika' : 'Edycja użytkownika "%s"'|format(user.username) %}

{% block pageTitle %}
    {{ userTitle }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .checkbox-label {
            display: block;
        }

        .panel-body-pages {
            max-height: 200px;
            overflow: auto;
        }
    </style>
{% endblock %}

{% block content %}
    {% for success in app.session.flashBag.get('success') %}
        <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong>Sukces!</strong> {{ success }}
        </div>
    {% endfor %}
    {% for error in app.session.flashBag.get('error') %}
        <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong>Błąd!</strong> {{ error }}
        </div>
    {% endfor %}

    {% form_theme form 'UczelniaAdminBundle:Form:form_template.html.twig' %}
    {{ form_start(form) }}

    <div class="panel panel-default">
        <div class="panel-heading">{{ userTitle }}</div>
        <div class="panel-body">
            {{ form_row(form.username) }}
            {{ form_row(form.plainPassword) }}
            {{ form_row(form.accountExpired) }}
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Uprawnienia - miasta</div>
        <div class="panel-body">
            {{ form_errors(form.cities) }}
            {{ form_widget(form.cities, {'label_attr': {'class': 'checkbox-inline'}}) }}
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Uprawnienia - poszczególne strony</div>
        <div class="panel-body panel-body-pages">
            {{ form_errors(form.pages) }}
            {{ form_widget(form.pages) }}
        </div>
    </div>

    {{ form_row(form.save) }}
    {{ form_end(form) }}
{% endblock %}