{% extends "UczelniaAdminBundle::base.html.twig" %}

{% block pageTitle %}Aktualności{% endblock %}

{% block content %}
    {% for success in app.session.flashBag.get('success') %}
        <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong>Sukces!</strong> {{ success }}
        </div>
    {% endfor %}
    {% for error in app.session.flashBag.get('error') %}
        <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong>Błąd!</strong> {{ error }}
        </div>
    {% endfor %}

    <div class="panel panel-default" style="margin-bottom: 0">
        <div class="panel-heading">Lista aktualności</div>
        <div class="panel-body">
            <a class="btn btn-primary" href="{{ path('admin_newsForm') }}">Dodaj nowy news</a>
        </div>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Nazwa</th>
                    <th>Miasta</th>
                    <th>Data</th>
                    <th>Akcje</th>
                </tr>
                </thead>
                <tbody>

                {% for news in pagination %}
                    <tr class="news-row">
                        <td class="news-title">{{ news.title }}</td>
                        <td style="max-width: 250px">
                            {% for city in news.cities %}
                                <span class="label {{ city.slug }}-bg-color">{{ city.name }}</span>
                            {% endfor %}
                        </td>
                        <td>{{ news.createDate|date('d-m-Y h:m') }}</td>
                        <td>
                            <a href="{{ path('admin_newsForm', {'id': news.id}) }}"><span
                                        class="glyphicon glyphicon-edit"></span>Edytuj</a>
                            <a class="delete-news"
                               href="{{ path('admin_newsDelete', {'newsId': news.id, 'token': csrfProvider.generateCsrfToken(tokenName|format(news.id))}) }}"><span
                                        class="glyphicon glyphicon-remove"></span>Usun</a>
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>

    <nav class="text-center">
        {{ knp_pagination_render(pagination, 'UczelniaPageBundle:Pagination:pagination.html.twig') }}
    </nav>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(document).ready(function () {

            $('body').on('click', '.delete-news', function (e) {
                e.preventDefault();

                var $btn = $(this);
                var deleteUrl = $btn.attr('href');

                if (confirm('Czy jesteś pweien, że chcesz usunąć: '+$('.news-title', $btn.closest('.news-row')).text())) {
                    $.getJSON(deleteUrl, function (json) {
                        alert(json.message);

                        if ('ok' === json.status) {
                            $btn.closest('.news-row').fadeOut(300, function(){ $(this).remove();});
                        }
                    });
                }
            });

        });

    </script>
{% endblock %}