{% extends "UczelniaPageBundle::base.html.twig" %}

{% block pageTitle %}Szkoła Wyższa im. Kogoś Ważnego{% endblock %}

{% set hideMenu = true %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .carousel-indicators li, .carousel-indicators li.active {
            width: {{ 100/slidesList|length }}%;
        }
    </style>
{% endblock %}

{% block content %}
    {% if slidesList is not empty %}
        <section id="slider" class="hidden-xs">
            <div class="container">
                <div id="carousel-homepage" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        {% for slide in slidesList %}
                            <div class="item {{ loop.first ? 'active' : '' }}">
                                <img src="{{ slide.slideImg }}" class="img-responsive">
                            </div>
                        {% endfor %}
                    </div>

                    <a class="left carousel-control" href="#carousel-homepage" role="button" data-slide="prev">
                        <img class="prev" src="{{ asset('bundles/uczelniapage/img/slider.svg') }}" alt="Poprzedni">
                    </a>
                    <a class="right carousel-control" href="#carousel-homepage" role="button" data-slide="next">
                        <img class="next" src="{{ asset('bundles/uczelniapage/img/slider.svg') }}" alt="Następny">
                    </a>

                    <ol class="carousel-indicators">
                        {% for i in 0..slidesList|length-1 %}
                            <li data-target="#carousel-homepage" data-slide-to="{{ i }}"
                                class="{{ loop.first ? 'active' : '' }}"></li>
                        {% endfor %}
                    </ol>
                </div>
            </div>
        </section>
    {% endif %}

    <section id="mapsite-news">
        <div class="container">
            <div class="row">
                <div class="col-sm-7 panel-left">
                    <div class="panel-bg">
                        <div class="current-city-bg-color">
                            <h2 class="panel-title">Mapa strony</h2>
                        </div>

                        <div class="sites">
                        <span class="row">
                            <a href="{{ path('city_news_or_single_page', {'city': 'rekrutacja'}) }}" class="col-sm-4 col-xs-12">
                                <div class="site-icon">
                                    <img class="center-block" height="92"
                                         src="{{ asset('bundles/uczelniapage/img/rekrutacja.svg') }}" alt="">
                                </div>
                                <span>Rekrutacja</span>
                            </a>
                            <a href="{{ path('city_news_or_single_page', {'city': 'o-uczelni'}) }}" class="col-sm-4 col-xs-12">
                                <div class="site-icon">
                                    <img class="center-block" height="92"
                                         src="{{ asset('bundles/uczelniapage/img/oferta.svg') }}" alt="">
                                </div>
                                <span>O uczelni</span>
                            </a>
                            <a href="{{ path('city_news_or_single_page', {'city': 'wydawnictwo'}) }}" class="col-sm-4 col-xs-12">
                                <div class="site-icon">
                                    <img class="center-block" height="92"
                                         src="{{ asset('bundles/uczelniapage/img/wydawnictwo.svg') }}" alt="">
                                </div>
                                <span>Wydawnictwo</span>
                            </a>
                        </span>
                            <span class="row">
                            <a href="{{ path('city_news_or_single_page', {'city': 'kursy-i-szkolenia'}) }}" class="col-sm-4 col-xs-12">
                                <div class="site-icon">
                                    <img class="center-block" height="92"
                                         src="{{ asset('bundles/uczelniapage/img/tablica.svg') }}" alt="">
                                </div>
                                <span>Kursy i szkolenia</span>
                            </a>
                            <a href="{{ path('city_news_or_single_page', {'city': 'liceum'}) }}" class="col-sm-4 col-xs-12">
                                <div class="site-icon">
                                    <img class="center-block" height="92"
                                         src="{{ asset('bundles/uczelniapage/img/lo.svg') }}" alt="">
                                </div>
                                <span>Liceum</span>
                            </a>
                            <a href="{{ path('city_news_or_single_page', {'city': 'gimnazjum'}) }}" class="col-sm-4 col-xs-12">
                                <div class="site-icon">
                                    <img class="center-block" height="92"
                                         src="{{ asset('bundles/uczelniapage/img/gim.svg') }}" alt="">
                                </div>
                                <span>Gimnazjum</span>
                            </a>
                        </span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5 panel-right">
                    <!--<div class="panel panel-default">-->
                    <!--<div class="panel-heading">-->
                    <!--<h3 class="panel-title">Aktualnosci</h3>-->
                    <!--</div>-->
                    <!--<div class="panel-body">-->
                    <!--Panel content-->
                    <!--</div>-->
                    <!--</div>-->
                    <div class="news-panel panel-bg">
                        <div class="current-city-bg-color">
                            <h2 class="panel-title">Aktualności</h2>
                        </div>
                        {% for news in newsList %}

                            <div class="news">
                                <h4 class="news-title current-city-font-color">{{ news.createDate|date('d.m.Y, H:i') }}
                                    - {{ news.title }}</h4>

                                {{ news.content|raw('html')|ab_shorten(200) }}
                                <div class="text-right">
                                    <a class="more current-city-bg-color"
                                       href="{{ path('news_single', {'slug': news.slug}) }}">Zobacz
                                        więcej</a>
                                </div>
                            </div>

                        {% else %}
                            <p class="text-center">Nie ma jeszcze żadnych aktualności.</p>
                        {% endfor %}

                        <a class="more-news-btn text-center center-block"
                           href="{{ path('global_news_archive') }}">Więcej &raquo;</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}