{% extends "UczelniaPageBundle::base.html.twig" %}

{% block pageTitle %}{{ title }}{{ city is defined and city is not empty ? ' - '~city : '' }} - {{ parent() }}{% endblock %}

{% block content %}
    <section class="site">
        <div class="container">
            <div class="row">
                <div class="col-sm-9 content-wrapper">
                    <div class="content panel-bg">
                        {{ mainContent|raw }}
                    </div>
                </div>
                <div class="col-sm-3 sidebar-wrapper">
                    <div class="right-sidebar current-city-bg-color">
                        {{ print_right_menu(app.request.get('slug'), app.request.get('city')) }}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        function setColSize() {
            console.log('Before: row-'+$('.site > .container > .row').outerHeight()+'; content-'+$('.site .content').height()+', right-,'+$('.site .right-sidebar').height());
            $('.site .right-sidebar').css('min-height', 0);
            $('.site .content').css('min-height', 0);
            //$('.site .content').css('height', 'auto');
            $('.site > .container > .row').css('height', 'auto');
            $('.site .right-sidebar').css('min-height', $('.site > .container > .row').outerHeight());
            $('.site .content').css('min-height', $('.site > .container > .row').outerHeight());
            console.log('after: row-'+$('.site > .container > .row').outerHeight()+'; content-'+$('.site .content').height()+', right-,'+$('.site .right-sidebar').height());
        }

        $(document).ready(function() {
            setColSize();
        });

        $( window ).load(function() {
            setColSize();
        });

        $(window).on('resize', function(){
            setColSize();
        });

        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            setColSize();
        });

    </script>
{% endblock %}