{% extends "UczelniaPageBundle::base.html.twig" %}

{% block pageTitle %}{{ news.title }}{{ city is defined and city is not empty ? ' - '~city : '' }} - {{ parent() }}{% endblock %}

{% block content %}
    <section id="site-news" class="site">
        <div class="container">
            <div class="row">
                <div class="col-sm-9">
                    <div class="news-panel panel-bg">
                        <div class="news">
                            <h1>{{ news.title }}</h1>
                            {% if news.thumbnail is not null %}
                                <img src="{{ news.thumbnail }}" class="img-responsive" alt="">
                            {% endif %}
                            {{ news.content|raw('html') }}
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <h3>Archiwum</h3>
                    {{ print_right_news_archive(app.request.get('city')) }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}