{% extends "UczelniaPageBundle::base.html.twig" %}

{% block pageTitle %}Aktualności{{ city is defined and city is not empty ? ' - '~city : '' }} - {{ parent() }}{% endblock %}

{% block content %}
    <section id="site-news" class="site">
        <div class="container">
            <div class="row">
                <div class="col-sm-9">
                    <div class="news-panel panel-bg">
                        {% for news in pagination %}

                            <div class="news">
                                <h4 class="news-title current-city-font-color">{{ news.createDate|date('d.m.Y, H:i') }}
                                    - {{ news.title }}</h4>
                                <h2>{{ news.title }}</h2>

                                {% if news.thumbnail is not null %}
                                    <img src="{{ news.thumbnail }}" class="img-responsive" alt="">
                                {% endif %}

                                {{ news.content|ab_shorten(300) }}

                                <div class="text-right">
                                    <a class="more current-city-bg-color"
                                       href="{{ path('news_single', {'slug': news.slug, 'city': app.request.get('city')}) }}">Zobacz
                                        więcej</a>
                                </div>
                            </div>

                        {% else %}
                            <p class="text-center">Nie ma jeszcze żadnych aktualności.</p>
                        {% endfor %}

                        <nav class="text-center">
                            {{ knp_pagination_render(pagination, 'UczelniaPageBundle:Pagination:pagination.html.twig') }}
                        </nav>
                    </div>
                </div>
                <div class="col-sm-3">
                    {% if pagination is not empty %}
                        <h3>Archiwum</h3>
                        {{ print_right_news_archive(app.request.get('city')) }}
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}