{% extends "UczelniaPageBundle::base.html.twig" %}

{% block pageTitle %}Zaloguj się lub zarejestruj{% endblock %}

{% set hideMenu = true %}


{% block content %}

    <section class="loginForm">
        <div class="container text-center">
            {% include 'UczelniaPageBundle:Template:flashMsg.html.twig' %}

            <h2 class="strong">Zmień hasło</h2>

            <div class="col-sm-6 col-sm-offset-3">
            {% form_theme form 'UczelniaPageBundle:Form:form_template.html.twig' %}
            {{ form(form) }}
            </div>
        </div>
    </section>

    </div>
{% endblock %}