<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% spaceless %}{% block pageTitle %}Szkoła Wyższa im. Kogoś Ważnego{% endblock %}{% endspaceless %}</title>
    <meta name="description" content="{% spaceless %}{% block pageDescription %}{% endblock %}{% endspaceless %}">

    {% block stylesheets %}
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,900&subset=latin-ext" rel="stylesheet">

        {% stylesheets
        'bundles/uczelniapage/css/bootstrap.min.css'
        'bundles/uczelniapage/css/screen.css'
        filter='cssrewrite,?yui_css'
        output = 'assets/css/compiled.css'
        combine=true %}
        <link rel="stylesheet" href="{{ asset_url }}">
        {% endstylesheets %}

        <style>
            {{ print_cities_colors_css() }}
            {% if is_granted('ROLE_EDITOR') %}
            .editor-menu {
                position: absolute;
                right: 100px;
                top: 0;
                z-index: 100;
                background: white;
            }

            {% endif %}
        </style>
    {% endblock %}

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<header>
    <div class="container">
        {% if is_granted('ROLE_EDITOR') %}
            <ul class="nav nav-pills editor-menu">
                {% if is_granted('ROLE_ADMIN') %}
                    {% block EditorMenuLinks %}{% endblock %}
                    <li role="presentation"><a href="{{ path('admin_dashboard') }}">Kokpit</a></li>
                {% endif %}
                <li role="presentation" class="active"><a href="{{ path('_logout') }}">Wyloguj</a></li>
            </ul>
        {% endif %}

        <div class="col-sm-7 col-md-6">
            <div class="row">
                <a href="{{ path('page_index') }}" class="col-sm-3 col-xs-4">
                    <img src="{{ asset('bundles/uczelniapage/img/logo.png') }}" class="img-responsive" alt="">
                </a>
                <div class="logo-title col-sm-9 col-xs-8">
                    <span class="header-title">
                        <a href="{{ path('page_index') }}">SZKOŁA</a>
                        <span class="social-icons social-icons-lg hidden-xs">
                            <a href="#" data-toggle="popover" tabindex="0"
                               title="Google+" data-placement="right"
                               data-content-id="#gp-content">
                                <img src="{{ asset('bundles/uczelniapage/img/google-plus.svg') }}" alt="">
                            </a>
                            <a href="#" data-toggle="popover" tabindex="0"
                               title="Twitter" data-placement="right"
                               data-content-id="#twitter-content">
                                <img src="{{ asset('bundles/uczelniapage/img/twitter.svg') }}" alt="">
                            </a>
                            <a href="#" data-toggle="popover" tabindex="0"
                               title="Facebook" data-placement="right"
                               data-content-id="#fb-content">
                                <img src="{{ asset('bundles/uczelniapage/img/facebook.png') }}" alt="">
                            </a>

                            {{ print_social_media_links() }}

                        </span>
                    </span>
                    <a href="{{ path('page_index') }}" class="header-desc">
                        Wyższa Szkoła im. Kogoś Barxdzo Ważnego
                    </a>
                    <span class="social-icons visible-xs">
                        <a href="#" data-toggle="popover" tabindex="0"
                           title="Google+" data-placement="bottom"
                           data-content-id="#gp-content">
                                <img src="{{ asset('bundles/uczelniapage/img/google-plus.svg') }}" alt="">
                            </a>
                            <a href="#" data-toggle="popover" tabindex="0"
                               title="Twitter" data-placement="bottom"
                               data-content-id="#twitter-content">
                                <img src="{{ asset('bundles/uczelniapage/img/twitter.svg') }}" alt="">
                            </a>
                            <a href="#" data-toggle="popover" tabindex="0"
                               title="Facebook" data-placement="bottom"
                               data-content-id="#fb-content">
                                <img src="{{ asset('bundles/uczelniapage/img/facebook.png') }}" alt="">
                            </a>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-sm-offset-1 col-md-4 col-md-offset-1 col-lg-3 col-lg-offset-2 col-xs-12 col-xs-offset-0">
            <div class="row links">
                <a href="{{ path('city_news_or_single_page', {'city': 'strefa-studenta'}) }}" class="col-xs-6">
                    <div>
                        <img class="center-block" src="{{ asset('bundles/uczelniapage/img/strefa-studenta.svg') }}"
                             alt="">
                    </div>
                    <div>STREFA STUDENTA</div>
                </a>
                <a href="{{ path('city_news_or_single_page', {'city': 'dziekanat'}) }}" class="col-xs-6">
                    <div><img class="center-block" src="{{ asset('bundles/uczelniapage/img/dziekanat.svg') }}" alt="">
                    </div>
                    <div>DZIEKANAT</div>
                </a>
            </div>
        </div>
    </div>
</header>

<nav class="navbar navbar-cities {{ app.request.attributes.get('_route') == 'page_index' ? '' : 'hidden-xs' }}">
    <div class="container">
        {{ print_cities_list() }}
    </div><!-- /.container -->
</nav>

{% if hideMenu is not defined %}
    <nav class="navbar main-navbar">
        <div class="container">
            <!-- Collect the nav links, forms, and other content for toggling -->
            {{ print_main_menu(app.request.get('city')) }}
        </div><!-- /.container -->
    </nav>
{% endif %}

{#{% if showSlider is defined %}#}
{#<section id="slider" class="hidden-xs">#}
{#<div class="container">#}
{#<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">#}
{#<!-- Wrapper for slides -->#}
{#<div class="carousel-inner" role="listbox">#}
{#<div class="item active">#}
{#<img src="{{ asset('bundles/uczelniapage/img/slide1.png') }}" alt="...">#}
{#</div>#}
{#<div class="item">#}
{#<img src="{{ asset('bundles/uczelniapage/img/slide1.png') }}" alt="...">#}
{#</div>#}
{#<div class="item">#}
{#<img src="{{ asset('bundles/uczelniapage/img/slide1.png') }}" alt="...">#}
{#</div>#}
{#</div>#}

{#<!-- Controls -->#}
{#<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">#}
{#<img class="prev" src="{{ asset('bundles/uczelniapage/img/slider.svg') }}" alt="">#}
{#</a>#}
{#<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">#}
{#<img class="next" src="{{ asset('bundles/uczelniapage/img/slider.svg') }}" alt="">#}
{#</a>#}

{#<!-- Indicators -->#}
{#<ol class="carousel-indicators">#}
{#<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>#}
{#<li data-target="#carousel-example-generic" data-slide-to="1"></li>#}
{#<li data-target="#carousel-example-generic" data-slide-to="2"></li>#}
{#</ol>#}
{#</div>#}
{#</div>#}
{#</section>#}
{#{% endif %}#}

{% block content %}{% endblock %}

<section id="cookie-warn">
    <p><strong>UWAGA!</strong> Niniejsza strona wykorzystuje pliki cookies.
        Informacje uzyskane za pomocą cookies wykorzystywane są głównie
        w celach statystycznych. Pozostając na stronie godzisz się na
        ich zapisywanie w Twojej przeglądarce.
        <a href="javascript:void(0);" id="close-cookie-warn"
        >Zamknij ostrzeżenie</a></p>
</section>

<footer class="current-city-border-color">
    <div class="footer-shadow"></div>
    <div class="container">
        <div class="col-sm-12 col-md-7">
            <div class="row">
                <div class="col-sm-4">
                    <h4 class="footer-menu-title">Menu</h4>
                    <ul class="footer-menu">
                        <li><a href="">Rekrutacja</a></li>
                        <li><a href="">Oferta edukacyjna</a></li>
                        <li><a href="">Projekty</a></li>
                        <li><a href="">Aktualnoci</a></li>
                        <li><a href="">O uczelni</a></li>
                        <li><a href="">Kontakt</a></li>
                        <li><a href="">Wydawnictwo</a></li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <h4 class="footer-menu-title">Jednostki</h4>
                    <ul class="footer-menu">
                        <li><a href="">Instytut Innowacji i Rozwoju Gospodarczego</a></li>
                        <li><a href="">Akademickie Centrum Coachingu</a></li>
                        <li><a href="">Biblioteka</a></li>
                        <li><a href="">Wydawnictwo</a></li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <h4 class="footer-menu-title">Partnerzy</h4>
                    <ul class="footer-menu">
                        <li><a href="">Nasi partnerzy</a></li>
                        <li><a href="">Programy partnerskie</a></li>
                        <li><a href="">Praktyki</a></li>
                    </ul>
                    <h4 class="contact-title">Kontakt</h4>
                    <div class="contact-info">
                        E-mail: <br>
                        dziekanat-wz@uczelnia.edu.pl <br>
                        dziekanat-wns@uczelnia.edu.pl <br>
                        <br>
                        Telefon: <br>
                        dziekanat: +48 22 851 28 90<br>
                        ogólny: +48 22 851 28 87-89<br>
                    </div>
                </div>
                <div class="col-sm-4"></div>
                <div class="col-sm-4"></div>
            </div>
        </div>
        <!--<div class="col-sm-5">-->
        <div id="map" class="col-md-5 visible-md visible-lg" style="height:450px"></div>
        <!--</div>-->
    </div>
</footer>

{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    {% javascripts
    '@UczelniaPageBundle/Resources/public/js/bootstrap.min.js'
    filter = '?yui_js'
    output = 'assets/js/compiled.js'
    combine=true %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        $().ready(function() {
            var sName = "cookiesok";
            $("#close-cookie-warn").click(function(){
                var oExpire = new Date();
                oExpire.setTime((new Date()).getTime() + 3600000*24*365);
                document.cookie = sName + "=1;expires=" + oExpire;
                $("#cookie-warn").hide("slow");
            });

            var sStr = '; '+ document.cookie +';';
            var nIndex = sStr.indexOf('; '+ escape(sName) +'=');
            if (nIndex === -1) {
                $("#cookie-warn").show();
            }
        });

        $("[data-toggle=popover]").popover({
            container: 'header',
            trigger: 'focus',
            html: true,
            content: function () {
                return $($(this).attr('data-content-id')).html();
            }
        });
//        $('[data-toggle=popover]').on('click', function (e) {
//            $('[data-toggle=popover]').not(this).popover('hide');
//        });

        function myMap() {
            var mapCanvas = document.getElementById("map");
            var center = new google.maps.LatLng(52.232, 19.1);
            var warszawa = new google.maps.LatLng(52.232, 21.0051);
            var chelm = new google.maps.LatLng(51.139, 23.490);
            var elblag = new google.maps.LatLng(54.179, 19.399);
            var krakow = new google.maps.LatLng(50.060, 19.959);
            var lomza = new google.maps.LatLng(53.180, 22.070);
            var olecko = new google.maps.LatLng(54.040, 22.509);
            var szczecin = new google.maps.LatLng(53.430, 14.529);
            var zabrze = new google.maps.LatLng(50.299, 18.779);


            var mapOptions = {center: center, zoom: 6, scrollwheel: false};
            var map = new google.maps.Map(mapCanvas, mapOptions);

            var marker0 = new google.maps.Marker({
                position: warszawa,
                infoWindow: new google.maps.InfoWindow({
                    content: "Warszawa"
                }),
                icon: "{{ asset('bundles/uczelniapage/img/pinezka.png') }}",
                map: map
            });
            var marker1 = new google.maps.Marker({
                position: chelm,
                infoWindow: new google.maps.InfoWindow({
                    content: "Chełm"
                }),
                icon: "{{ asset('bundles/uczelniapage/img/pinezka.png') }}",
                map: map
            });
            var marker2 = new google.maps.Marker({
                position: krakow,
                infoWindow: new google.maps.InfoWindow({
                    content: "Kraków"
                }),
                icon: "{{ asset('bundles/uczelniapage/img/pinezka.png') }}",
                map: map
            });
            var marker3 = new google.maps.Marker({
                position: lomza,
                infoWindow: new google.maps.InfoWindow({
                    content: "Łomża"
                }),
                icon: "{{ asset('bundles/uczelniapage/img/pinezka.png') }}",
                map: map
            });
            var marker4 = new google.maps.Marker({
                position: elblag,
                infoWindow: new google.maps.InfoWindow({
                    content: "Elbląg"
                }),
                icon: "{{ asset('bundles/uczelniapage/img/pinezka.png') }}",
                map: map
            });
            var marker5 = new google.maps.Marker({
                position: olecko,
                infoWindow: new google.maps.InfoWindow({
                    content: "Olecko"
                }),
                icon: "{{ asset('bundles/uczelniapage/img/pinezka.png') }}",
                map: map
            });
            var marker6 = new google.maps.Marker({
                position: szczecin,
                infoWindow: new google.maps.InfoWindow({
                    content: "Szczecin"
                }),
                icon: "{{ asset('bundles/uczelniapage/img/pinezka.png') }}",
                map: map
            });
            var marker7 = new google.maps.Marker({
                position: zabrze,
                infoWindow: new google.maps.InfoWindow({
                    content: "Zabrze"
                }),
                icon: "{{ asset('bundles/uczelniapage/img/pinezka.png') }}",
                map: map
            });
            google.maps.event.addListener(marker0, 'click', function () {
                onMarekerClick(marker0);
            });
            google.maps.event.addListener(marker1, 'click', function () {
                onMarekerClick(marker1);
            });
            google.maps.event.addListener(marker2, 'click', function () {
                onMarekerClick(marker2);
            });
            google.maps.event.addListener(marker3, 'click', function () {
                onMarekerClick(marker3);
            });
            google.maps.event.addListener(marker4, 'click', function () {
                onMarekerClick(marker4);
            });
            google.maps.event.addListener(marker5, 'click', function () {
                onMarekerClick(marker5);
            });
            google.maps.event.addListener(marker6, 'click', function () {
                onMarekerClick(marker6);
            });
            google.maps.event.addListener(marker7, 'click', function () {
                onMarekerClick(marker7);
            });
        }

        function onMarekerClick(clickedMarker) {
            clickedMarker.infoWindow.open(map, clickedMarker);
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA6A-yM4EYza_Uo16b4V_ujfbhZX_R8bvM&callback=myMap"></script>
{% endblock %}

</body>
</html>