{% extends "UczelniaAdminBundle::base.html.twig" %}

{% set slideTitle = slide.id is null ? 'Dodawanie nowego slajdu' : 'Edycja slajdu' %}

{% block pageTitle %}
    {{ slideTitle }}
{% endblock %}


{% block content %}
    {% for success in app.session.flashBag.get('success') %}
        <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong>Sukces!</strong> {{ success }}
        </div>
    {% endfor %}
    {% for error in app.session.flashBag.get('error') %}
        <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong>Błąd!</strong> {{ error }}
        </div>
    {% endfor %}

    {% form_theme form 'UczelniaAdminBundle:Form:form_template.html.twig' %}
    {{ form_start(form) }}

    <div class="panel panel-default">
        <div class="panel-heading">{{ slideTitle }}</div>
        <div class="panel-body">
            {{ form_row(form.slideOrder) }}
            <div class="form-group">
                {{ form_label(form.slideImg) }}
                <div class="col-sm-10">

                    {{ form_widget(form.slideImg, { 'attr': {'class': 'form-control'} }) }}
                    <img id="slide-img" style="cursor: pointer" class="img-responsive" src="" alt="">
                    {{ form_errors(form.slideImg) }}
                </div>
            </div>
        </div>
    </div>

    {{ form_row(form.save) }}
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(document).ready(function () {
            $("#slide-img").attr("src", $("#slide_slideImg").val());
            $('#slide-img').click(function () {
                $("#slide_slideImg").click();
            });
            $("#slide_slideImg").on('change', function () {
                $("#slide-img").attr("src", $("#slide_slideImg").val());
            })
        });
    </script>
{% endblock %}