{% extends "UczelniaAdminBundle::base.html.twig" %}

{% block pageTitle %}Slajder{% endblock %}

{% block stylesheets %}
   {{ parent() }}
    <style>
        .slide-url img {
            max-width: 300px;
            height: auto;
        }
    </style>
{% endblock %}

{% block content %}
    {% for success in app.session.flashBag.get('success') %}
        <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong>Sukces!</strong> {{ success }}
        </div>
    {% endfor %}
    {% for error in app.session.flashBag.get('error') %}
        <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong>Błąd!</strong> {{ error }}
        </div>
    {% endfor %}

    <div class="panel panel-default">
        <div class="panel-heading">Lista slajdów</div>
        <div class="panel-body">
            <a class="btn btn-primary" href="{{ path('admin_slideForm') }}">Dodaj nowy slajd</a>
        </div>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Obraz</th>
                    <th>Adres</th>
                    <th>Pozycja</th>
                    <th>Data</th>
                    <th>Akcje</th>
                </tr>
                </thead>
                <tbody>

                {% for slide in slides %}
                    <tr class="slide-row">
                        <td class="slide-url"><img src="{{ slide.slideImg }}" alt=""></td>
                        <td>{{ slide.slideImg }}</td>
                        <td>{{ slide.slideOrder }}</td>
                        <td>{{ slide.createDate|date('d-m-Y h:m') }}</td>
                        <td>
                            <a href="{{ path('admin_slideForm', {'id': slide.id}) }}"><span
                                        class="glyphicon glyphicon-edit"></span>Edytuj</a>
                            <a class="delete-slide"
                               href="{{ path('admin_slideDelete', {'slideId': slide.id, 'token': csrfProvider.generateCsrfToken(tokenName|format(slide.id))}) }}"><span
                                        class="glyphicon glyphicon-remove"></span>Usun</a>
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(document).ready(function () {

            $('body').on('click', '.delete-slide', function (e) {
                e.preventDefault();

                var $btn = $(this);
                var deleteUrl = $btn.attr('href');

                if (confirm('Czy jesteś pweien, że chcesz usunąć: '+$('.slide-title', $btn.closest('.slide-row')).text())) {
                    $.getJSON(deleteUrl, function (json) {
                        alert(json.message);

                        if ('ok' === json.status) {
                            $btn.closest('.slide-row').fadeOut(300, function(){ $(this).remove();});
                        }
                    });
                }
            });

        });

    </script>
{% endblock %}